@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body.theme-dark li {
    background-color: var(--cor-10);
}

body.theme-dark button  {
    background-color: var(--cor-11);
}

.conteudo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: left;
}

.informacoes-portas,
.portas-listas {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.informacoes-portas {
    position: relative;
    padding-bottom: 1.9rem;
}

.informacoes-portas h1 {
    position: relative;
    padding-left: 1rem;
}

body.theme-dark .informacoes-portas p {
    position: absolute;
    top: 25px;
    margin-left: 1rem;
    color: var(--cor-9);
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

body.theme-light .informacoes-portas p {
    position: absolute;
    top: 25px;
    margin-left: 1rem;
    color: var(--cor-2);
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

.informacoes-portas h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 3px;
    height: 2.2rem;
    background-color: var(--cor-p1);
}

.portas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

li {
    background: var(--cor-1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.porta-infor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    height: 100%;
}

.porta-conteudo {
    text-align: left;
}

.porta-img {
    width: 100%;
    display: flex;
    padding-left: 10px;
    height: 200px;
}

.porta-conteudo h1 {
    position: relative;
    top: 12px;
}

.porta-conteudo p {
    color: var(--cor-3);
    font: 500 1rem/1.5 "Poppins", sans-serif;
    padding-bottom: 15px;
}

button {
    grid-column: 1 / -1;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-top: 2px solid #9aa0a6;
    padding: 15px;
    text-transform: uppercase;
    font: 500 1rem/1.5 "Poppins", sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;    
    justify-content: center; 
    gap: 12px;            
    cursor: pointer;
    background-color: #f7f7f7; 
    outline: none;
}

button::after {
    content: "";
    display: inline-block;
    width: 25px; 
    height: 20px; 
    background: url("../../img/icones/flecha.svg") no-repeat center;
    background-size: contain;
    transition: transform 0.3s ease;
}

button:hover::after {
    transform: translateX(5px);
}

body.theme-dark .conteudo-bg {
    background-color: #151516;
}

body.theme-light .conteudo-bg {
    background-color: #f7f7f7;
}

.conteudo-infor {
    display: grid;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-infor-no{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-detalhado {
    grid-column: 1 / -1;
}

.conteudo-detalhado h1 {
    font: 600 2rem/1.5 "Nunito", sans-serif;
}

.conteudo-detalhado  p {
    font: 400 1.1rem/1.8 "Roboto", sans-serif;
}

.conteudo-descricao {
    border-radius: 5px;
    text-align: left;
}

.conteudo-descricao h2 {
    font: 600 1.525rem/1.5 "Nunito", sans-serif;
}

.conteudo-descricao p {
    font: 400 1.1rem/1.8 "Roboto", sans-serif;
}

.conteudo-img {
    display: flex;
    padding-right: 10px;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.conteudo-img img {
    width: 280px;
    flex: 0 0 auto;
    max-width: 100%;
}

.conteudo-img img.imagem-table {
    width: 920px;
    max-width: 100%;
    padding-bottom: 10px;
}

.conteudo-bg {
    display: none;
}
@media (max-width: 650px) {
    .conteudo-img img.imagem-table {
    display: none;
    }
}


@media (max-width: 750px) {
    .portas {
        grid-template-columns: 1fr 1fr;
    }
    .conteudo-infor {
        grid-template-columns: 1fr;
    }
    .conteudo-img {
        flex-direction: column;
        align-items: center;
    }
    .conteudo-img img {
        width: 280px;
        max-width: 100%;
    }
}


@media (max-width: 450px) {
     .portas {
        grid-template-columns: 1fr;
    }
    .conteudo-detalhado h1 {
        max-width: 11ch;
    }
    .conteudo-detalhado p {
        font-size: 1.215rem;
    }
    .conteudo-descricao p {
        font-size: 1.215rem;
    }
}

@media (max-width: 900px) {
    .porta-conteudo p {
        font-size: 14px;
    }
}


@media (max-width: 800px) {
    button::after {
        display: none;
    }
    .portas-listas {
        padding-top: 15px;
    }
    .porta-infor {
    grid-template-columns: 1fr;
    }
    .porta-conteudo {
    text-align: center;
}
}