.informacoes-portas {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: left;
}



.informacoes-portas p {
    position: relative;
    top: -25px;
    line-height: 1.7;
}

.portas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}